# Makefile for libsimple_voip_dummy
# Copyright (C) 2018 Sergey Kolevatov

###################################################################

VER = 0

LIB_PROJECT = simple_voip_dummy

LIB_BOOST_LIB_NAMES :=

LIB_SRCC = \
        call.cpp \
        dummy.cpp \
        init_config.cpp \
        random.cpp \

LIB_EXT_LIB_NAMES = \
        scheduler \
        simple_voip \
        config_reader \
        utils \
        dtmf_tools \
